<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
</head>
<body>
    <h1>你好, {{ name }}</h1> <!-- Flask模板中的变量 -->

    <div>
        <h2>办理入住</h2>
        <!-- 点击按钮后跳转到办理入住的页面 -->
        <a href="/receptionist/query?action=check_in"><button type="button">确定</button></a>
    </div>

    <div>
        <h2>打印某房间详单</h2>
        <!-- 点击按钮后跳转到打印房间详单的页面 -->
        <a href="/receptionist/query?action=print_receipt"><button type="button">确定</button></a>
    </div>

    <div>
        <h2>退房</h2>
        <!-- 点击按钮后跳转到退房的页面 -->
        <a href="/receptionist/query?action=check_out"><button type="button">确定</button></a>
    </div>

    <div>
        <h2>查询或修改某房间状态</h2>
        <!-- 点击按钮后跳转到查询或修改房间状态的页面 -->
        <a href="/receptionist/query?action=look"><button type="button">确定</button></a>
    </div>

    <div>
        <h2>查询并修改设置</h2>
        <!-- 点击按钮后跳转到查询并修改房间状态的页面 -->
        <a href="/receptionist/operate_set?"><button type="button">确定</button></a>
    </div>
</body>
</html>
